@font-face {
    font-family: 'graph';
    src:  url('../fonts/graph.eot?qnyll8');
    src:  url('../fonts/graph.eot?qnyll8#iefix') format('embedded-opentype'),
    url('../fonts/graph.ttf?qnyll8') format('truetype'),
    url('../fonts/graph.woff?qnyll8') format('woff'),
    url('../fonts/graph.svg?qnyll8#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

html {
        scroll-behavior: smooth;
}


.v-item {
    width: 224px;
    display: inline-block;
    padding: 8px;
    cursor: pointer;
    vertical-align: top;
}

.v-container {
    position: relative;
    display: inline-flex;
    width: 224px;
    height: 128px;
}

.v-thumbnail {
    width: 224px;
    height: 128px;
    object-fit: contain;
    border: 0;
}

.v-duration {
    position: absolute;
    bottom: 0px;
    right: 0px;
    margin: 4px;
    color: rgba(255, 255, 255, 1);
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 1;
    padding: 2px 4px;
    border-radius: 2px;
    letter-spacing: .5px;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.2rem;
    align-items: center;
    flex-direction: row;
    display: inline-flex;
}

.v-title {
    display: inline-block;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.6rem;
    max-height: 3.2rem;
    margin-right: 8px;
    margin-top: 8px;
    margin-bottom: 8px;
    color: rgb(17, 17, 17);
}

.v-desc {
    font-size: 1.3rem;
    color: hsl(0,0%, 53.3%);
    margin-right: 24px;
    margin-top: 4px;
    margin-bottom: 4px;
}


.v-cover-title {
    position: absolute;
    top: 0px;
    left: 0px;
    color: rgba(255, 255, 255, 1);
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 1;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.2rem;
    align-items: center;
    flex-direction: row;
    display: inline-flex;
    overflow: hidden;
    width: 210px;
    padding: 4px;
}

.tag-title {
    vertical-align: central;
    font-size: 1.4rem;
    margin-bottom: 4px;
    padding: 16px 12px 6px 0px;
    color: #F44336;
    font-weight: bold;
    position: relative;
}

.tag-title:before {
    display: inline-flex;
    position: absolute;
    width: 2px;
    top: 16px;
    bottom: 6px;
    background-color: #F44336;
    content: '';
}

.tag-bg {
    display: inline-block;
    width: 150px;
    margin-bottom: 8px;
    padding: 10px 12px 10px 12px;
    border-radius: 6px;
    background-color: #efefef;
    font-size: 1.4rem;
    cursor: pointer;
}

.tag-bg:hover {
    background-color: #e0e0e0;
}

.tag-unselected {
    color: #111;
}

.tag-selected {
    color: #F44336;
    font-weight: bold;
}

.play-list-container {
    overflow: auto;
}

.play-list-container::-webkit-scrollbar {
    width: 5px;
    height: 1px;
}

.play-list-container::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background-color: #AAA;
}
.play-list-container::-webkit-scrollbar-track {
    background: #EDEDED;
}

video:focus {
    outline: none;
}

.search-bg {
    width: 512px;
    height: 44px;
    border-radius: 22px;
    background-color: #F2F2F2;
    border: none;
    box-shadow: none;
    outline: none;
    transition: background-color 200ms;
    cursor: text;
    display: inline-block;
    line-height: 36px;
    margin-left: 16px;
    position: relative;
    top: -30px;
}

.search-bg:hover {
    background-color: #EAEAEA;
}

.search-input {
    position: relative;
    left: 0;
    top: 0;
    background-color: transparent;
    color: #333;
    border: none;
    width: 490px;
    height: 44px;
    line-height: 36px;
    padding: 0 22px;
    box-sizing: border-box;
    box-shadow: none;
    font-size: 16px;
    outline: none;
}

.search-btn {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 44px;
    height: 44px;
    display: inline-block;
    cursor: pointer;
    color: #FF6666;
    text-align: -webkit-center;
    vertical-align: middle;
}

.search-btn:hover {
    color: #FF1744;
}

.icon-resolution:before {
    font-family: 'graph' !important;
    font-size: 1.4rem;
    content: "\e903";
}

.icon-view:before {
    font-family: 'graph' !important;
    font-size: 1.4rem;
    content: "\e913";
}

.icon-search:before {
    font-family: 'graph' !important;
    font-size: 20px;
    content: "\e909";
    line-height: 44px;
}

.icon-empty:before {
    font-family: 'graph' !important;
    color: #EAEAEA;
    font-size: 88px;
    content: "\e903";
}

.loading-circle-1 {
    position: absolute;
    top: 4px;
    right: 4px;
    width: 32px;
    height: 32px;
    border: 2px solid transparent;
    border-radius: 18px;
    border-top-color: #2196F3;
    border-left-color: #2196F3;
    animation: rotate-animate 2s linear infinite;
}

.loading-circle-2 {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 24px;
    height: 24px;
    border: 2px solid transparent;
    border-radius: 16px;
    border-top-color: #FF9800;
    border-left-color: #FF9800;
    animation: rotate-animate 1.5s linear infinite;
}

.loading-circle-3 {
    position: absolute;
    top: 12px;
    right: 12px;
    width: 16px;
    height: 16px;
    border: 2px solid transparent;
    border-radius: 10px;
    border-top-color: #4CAF50;
    border-left-color: #4CAF50;
    animation: rotate-animate 1s linear infinite;
}

.loading-circle-4 {
    position: absolute;
    top: 16px;
    right: 16px;
    width: 8px;
    height: 8px;
    border: 2px solid transparent;
    border-radius: 6px;
    border-top-color: #F44336;
    border-left-color: #F44336;
    animation: rotate-animate 0.5s linear infinite;
}

@keyframes rotate-animate {
    from {transform: rotate(0)}
    to {transform: rotate(360deg)}
}

.menu-group {
    width: 174px;
    background: #efefef;
    border-radius: 6px;
    max-height: 0;
    overflow: hidden;
    transition: all .5s
}
.expand {
    max-height: 350px
}

.menu-item {
    padding: 12px 12px 12px 12px;
    margin: 0;
    transition: all .1s;
    font-size: 1.4rem;
    cursor: pointer;
}
.menu-item:hover {
    background: #F44336;
    -webkit-transform: scale(1.05);
    color: rgba(255, 255, 255, 1);
    box-shadow: 0 0 30px -10px #000
}

.nav-title {
    font-size: 1.4rem;
    padding: 0px 12px 0px 12px;
    color: #222222;
    cursor: pointer;
}

.nav-title:hover {
    color: #F44336;
}